[submodule "plasma/lib/openzeppelin-contracts"]
	path = plasma/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "plasma/lib/forge-std"]
	path = plasma/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
